@charset "ISO-8859-1";

body{
     background:url('images/maxresdefault.jpg');
     background-repeat:repeat;
     
 }
 .container{
 	padding:10px;
     background:rgba(200,200,200,0.8);/* grey, mostly opaque*/
 }

.red{
	color:red;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

#logo{
	margin:0px;
}

#linkCluster a{
	margin-right:20px;
	font-size:0.75em;
}

.row h3, .row h4{
	display:block;
}

.staffPic{
	width:100%;
}

.staffMember{
	margin-top:50px;
}

h2{
	font-size:2.5em;/*0.5 more than bootstrap*/
}

.centered{
	text-align:center;
}

#searchForm{
	font-size:3em;
	margin:0px;
}

#searchBar{
	border-right:none;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
	padding-left:30px;/*To make up for space lost by rounded corners*/
}

#searchSubmit{
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
}

.grey{
	color:grey;
}

section, p{
	margin-left:50px;
}

#navButton{
	display:none;
}

#independentScroll{
	overflow:auto;
}




@media only screen and (max-width: 768px) {/* For mobile phones */
    
    [class*=col]{
    	max-width:100%;
    	width:100%;
    }
    
    .row{
    	display:block;
    }
    
    #linkCluster{
    	display:none;
    }
    #linkCluster *{/*All children */
    	display:block;
    }
    #navButton{
    	display:initial;
    }
    #logo{
    	display:none;/*Not ideal, but it looks better*/
    }
    
    #searchForm *{
    	font-size:0.5em;
    }
    
    #searchForm [type=text]{
    	width:80%;
    }
    
    body{
    	background:white;
    }
}


